<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <% for (let i=0; i < info.length; i++) { %>
        <% if (info[i]._id==texiId) { %>
            <form action="/edit/<%= info[i]._id %>" method="POST">
                <input type="text" name="numberPlate" value="<%= info[i].numberPlate %>">
                <input type="number" name="number" value="<%= info[i].number %>">
                <input type="text" name="placeToDeliver" value="<%= info[i].placeToDeliver %>">
                <button type="submit" id="updateButton">confirm</button>
            </form>


            <!-- <table id="taxiTable">
                <thead>
                    <tr>
                        <th>DriversName</th>
                        <th>placeToDeliver</th>
                        <th>numberPlate</th>
                        <th>Number</th>
                        <th>Image</th>
                        <th>Delete & Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= info[i].specialName %></td>
                        <td><%= info[i].placeToDeliver %></td>
                        <td><%= info[i].numberPlate %></td>
                        <td><%= info[i].number %></td>
                        <td class="edit"><a href="/edit/<%= info[i]._id %>"><i class="fa fa-edit"></i></a></td>
                        <td class="fa fa-trash"></td>
                        <td class="fa fa-check"></td>
                        <a href="/">Cancel</a>
                    </tr>
                </tbody>
            </table> -->
        <% } else { %> 
                <table id="taxiTable">
                    <thead>
                        <tr>
                            <th>DriversName</th>
                            <th>placeToDeliver</th>
                            <th>numberPlate</th>
                            <th>Number</th>
                            <th>Image</th>
                            <th>Delete & Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= info[i].specialName %></td>
                            <td><%= info[i].placeToDeliver %></td>
                            <td><%= info[i].numberPlate %></td>
                            <td><%= info[i].number %></td>
                            <td class="edit"><a href="/edit/<%= info[i]._id %>"><i class="fa fa-edit"></i></a></td>
                            <td class="fa fa-trash"></td>
                            <td class="fa fa-check"></td>
                            <a href="/">Cancel</a>
                        </tr>
                    </tbody>
                </table>
            <%} %>
    <% } %>
    <!-- <h2><a href="/">click</a></h2> -->
    
    <script type="text/javascript" src="/js/edit.js"></script>
</body>
</html>
